#mainPage,
#historyPage,
#aboutPage,
#settingsPage{
	padding: 1rem;
}


.title, .introduction, .button .formInput {
	margin-bottom: 1rem;
}
.spacing,
.padBtn {
  margin: 1rem 0 1rem 0;
}
.padding-left {
  padding-left: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.centered {
  text-align: center;
}

.select-shape {
  max-height: 80%;
  /* max-width: 80%; */
}

input {
  display: inline-block;
  margin-bottom: 1rem;
}

.is-hidden {
	display: none;
}

.img-cordova {
	display: block;
	margin: 0 auto;
}

.cordova-indicator {
	text-align: center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 2000ms 3;
    -webkit-animation:fade 2000ms 3;
}

